[".logseq/plugins/logseq-todo-plugin"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "ahonn/logseq-plugin-todo" "logseq-plugin-todo-*.zip" | quote }}
    exact = true
    stripComponents = 1
    refreshPeriod = "672h"

[".logseq/plugins/logseq-todoist-plugin"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "benjypng/logseq-todoist-plugin" "logseq-todoist-plugin.zip" | quote }}
    exact = true
    stripComponents = 1
    refreshPeriod = "672h"

[".logseq/plugins/logseq-vim-editor"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "vipzhicheng/logseq-plugin-vim-editor" "logseq-plugin-vim-editor-*.tar.gz" | quote }}
    exact = true
    stripComponents = 1
    refreshPeriod = "672h"

[".logseq/plugins/logseq-vim-shortcuts"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "vipzhicheng/logseq-plugin-vim-shortcuts" "logseq-plugin-vim-shortcuts-*.tar.gz" | quote }}
    exact = true
    stripComponents = 1
    refreshPeriod = "672h"

[".logseq/plugins/ollama-logseq"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "omagdy7/ollama-logseq" "ollama-logseq-*.zip" | quote }}
    exact = true
    stripComponents = 1
    refreshPeriod = "672h"
