github.com:
    git_protocol: https
    oauth_token: {{ .githubToken }}
    user: {{ .githubUsername }}
    users:
        {{ .githubUsername }}:
            git_protocol: https
            oauth_token: {{ .githubToken }}
{{- if .isRiotMachine }}
gh.riotgames.com:
    git_protocol: https
    oauth_token: {{ .riotGithubToken }}
    user: {{ .username }}
    users:
        {{ .username }}:
            git_protocol: https
            oauth_token: {{ .riotGithubToken }}
{{- end }}
