# General

- Less is more.

# Code Quality

- Common best practices:
	- YAGNI
	- Single responsibility principle
	- No dead code
	- Comments as code unless explaining a decision or including references.
- Prefer early-exit guard clauses over spaghetti code.
