{{- if .isRiotMachine -}}

#### https://gh.riotgames.com/live-operations/agent-skills ####

[riot-liveops-dot-agents-agents]
    targetPath = ".agents/agents"
    type = "archive"
    url = "https://{{ .chezmoi.username }}:{{ .riotGithubToken }}@gh.riotgames.com/live-operations/agent-skills/archive/main.tar.gz"
    refreshPeriod = "168h"
    include = ["*/agents/**"]
    stripComponents = 2

[riot-liveops-dot-agents-skills]
    targetPath = ".agents/skills"
    type = "archive"
    url = "https://{{ .chezmoi.username }}:{{ .riotGithubToken }}@gh.riotgames.com/live-operations/agent-skills/archive/main.tar.gz"
    refreshPeriod = "168h"
    include = ["*/skills/**"]
    stripComponents = 2

[riot-liveops-dot-agents-agents-skills]
    targetPath = ".agents/skills"
    type = "archive"
    url = "https://{{ .chezmoi.username }}:{{ .riotGithubToken }}@gh.riotgames.com/live-operations/agent-skills/archive/main.tar.gz"
    refreshPeriod = "168h"
    include = ["*/agents/*/skills/**"]
    stripComponents = 4

{{- end }}

[".config/fabric/patterns"]
type = "archive"
url = "https://github.com/danielmiessler/Fabric/archive/main.tar.gz"
refreshPeriod = "168h"
stripComponents = 3
include = ["*/data/patterns/**"]

[".config/fabric/strategies"]
type = "archive"
url = "https://github.com/danielmiessler/Fabric/archive/main.tar.gz"
refreshPeriod = "168h"
stripComponents = 3
include = ["*/data/strategies/**"]

[".logseq/plugins/logseq-todo-plugin"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "ahonn/logseq-plugin-todo" "logseq-plugin-todo-*.zip" | quote }}
exact = true
stripComponents = 1
refreshPeriod = "672h"

[".logseq/plugins/logseq-todoist-plugin"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "benjypng/logseq-todoist-plugin" "logseq-todoist-plugin.zip" | quote }}
exact = true
stripComponents = 1
refreshPeriod = "672h"

[".logseq/plugins/logseq-vim-editor"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "vipzhicheng/logseq-plugin-vim-editor" "logseq-plugin-vim-editor-*.tar.gz" | quote }}
exact = true
stripComponents = 1
refreshPeriod = "672h"

[".logseq/plugins/logseq-vim-shortcuts"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "vipzhicheng/logseq-plugin-vim-shortcuts" "logseq-plugin-vim-shortcuts-*.tar.gz" | quote }}
exact = true
stripComponents = 1
refreshPeriod = "672h"

[".logseq/plugins/ollama-logseq"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "omagdy7/ollama-logseq" "ollama-logseq-*.zip" | quote }}
exact = true
stripComponents = 1
refreshPeriod = "672h"

[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".config/terminfo/wezterm.terminfo"]
type = "file"
url = "https://raw.githubusercontent.com/wezterm/wezterm/main/termwiz/data/wezterm.terminfo"
refreshPeriod = "672h"

[".config/terminfo/xterm-256color-italic.terminfo"]
type = "file"
url = "https://raw.githubusercontent.com/wezterm/wezterm/main/termwiz/data/xterm-256color-italic.terminfo"
refreshPeriod = "672h"

{{ $fontsDir := ternary "Library/Fonts" (ternary "AppData/Local/Microsoft/Windows/Fonts" "TODO(linux)" .isWindows) .isMac }}

[fonts-iosevka]
    targetPath = {{ joinPath $fontsDir "Iosevka" | quote }}
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "be5invis/Iosevka" "PkgTTC-Iosevka-*.zip" | quote }}
    refreshPeriod = "168h"

[fonts-powerlevel10k]
    targetPath = {{ joinPath $fontsDir "PowerLevel10k" | quote }}
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k-media/archive/master.tar.gz"
    exact = false
    stripComponents = 1
    refreshPeriod = "168h"
    include = ["*/*.ttf"]

[fonts-source_code_pro]
    targetPath = {{ joinPath $fontsDir "SourceCodePro" | quote }}
    type = "archive"
    url = "https://github.com/adobe-fonts/source-code-pro/archive/master.tar.gz"
    exact = false
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/*.ttf"]
