[data]
name = "Derek M Frank"
githubUsername = "dysfungi"

{{ $username := .chezmoi.homeDir | base -}}
{{ $wslDistro := "archlinux" -}}
{{ if not (hasSuffix $username .chezmoi.username) -}}
  {{ fail (printf "username mismatch: homeDir base '%s' is not a suffix of chezmoi.username '%s'" $username .chezmoi.username) -}}
{{ end -}}
username = {{ $username | quote }}

isBsd = {{ eq .chezmoi.os "freebsd" "openbsd" }}
isDarwin = {{ eq .chezmoi.os "darwin" }}
isLinux = {{ eq .chezmoi.os "linux" }}
isMac = {{ eq .chezmoi.os "darwin" }}
isUnixLike = {{ eq .chezmoi.os "darwin" "freebsd" "linux" "openbsd" "unix" }}
isWindows = {{ eq .chezmoi.os "windows" }}
{{ if eq .chezmoi.os "linux" -}}
linuxDistro = {{ .chezmoi.osRelease.id | quote }}
isArchLinux = {{ eq .chezmoi.osRelease.id "arch" }}
isWSL = {{ .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
{{- else -}}
linuxDistro = {{ .chezmoi.os | quote }}
isArchLinux = false
isWSL = false
{{- end }}
wslDistro = {{ $wslDistro | quote }}

{{ $isMyMachine := eq $username "dmf" -}}
{{ $isWorkMachine := not $isMyMachine -}}
{{ $isRiotMachine := eq $username "dfrank" -}}
{{ if or (eq $isMyMachine $isWorkMachine $isRiotMachine) (ne $isWorkMachine $isRiotMachine) -}}
  {{ fail "Failed to determine machine ownership" -}}
{{ end -}}
email = {{ $isRiotMachine | ternary "dfrank@riotgames.com" "derek@frank.sh" | quote }}
isMyMachine = {{ $isMyMachine }}
isWorkMachine = {{ $isWorkMachine }}
isRiotMachine = {{ $isRiotMachine }}

{{ $myGithubToken := onepasswordRead "op://CLI/GitHub Token - Chezmoi/password" }}
{{ $riotGithubToken := "" }}
{{- if $isRiotMachine }}
{{ $riotGithubToken = onepasswordRead "op://Riot/GitHub - Personal Access Token/password" }}
{{- end }}
githubToken = {{ $myGithubToken | quote }}
{{- if $isRiotMachine }}
riotGithubToken = {{ $riotGithubToken | quote }}
{{- end }}

{{ $opToken := env "OP_SERVICE_ACCOUNT_TOKEN" -}}
{{ $opTokenFile := joinPath .chezmoi.homeDir ".secrets" "OP_SERVICE_ACCOUNT_TOKEN" -}}
{{ if not $opToken -}}
  {{ if stat $opTokenFile -}}
    {{ $opToken = include $opTokenFile | trim -}}
  {{ else -}}
    {{ $opToken = promptString "1Password service account token" -}}
  {{ end -}}
{{ end -}}
opServiceAccountToken = {{ $opToken | quote }}

[cd]
args = [
    # "--rc=~/.config/xonsh/rc.xsh",
    # "--rc=~/.config/xonsh/rc.d/mise.xsh",
    # "-DXONSH_DEBUG=1",
    # "-DXONSH_SHOW_TRACEBACK=1",
    # "-DXONSH_TRACE_SUBPROC=2",
]

[diff]
exclude = ["scripts"]

[hooks.read-source-state.pre]
{{- if eq .chezmoi.os "windows" }}
command = "powershell"
args = ["-NoProfile", ".local/share/chezmoi/.bootstrap.windows.ps1", {{ $wslDistro | quote }}]
{{- else if eq .chezmoi.os "darwin" }}
command = ".local/share/chezmoi/.bootstrap.darwin.sh"
{{- else if eq .chezmoi.os "linux" }}
command = ".local/share/chezmoi/.bootstrap.linux.sh"
args = [{{ .chezmoi.osRelease.id | quote }}]
{{- end }}

[onepassword]
mode = "service"

[interpreters.sh]
{{- if eq .chezmoi.os "windows" }}
command = "C:\\Program Files\\Git\\bin\\bash.exe"
{{- end }}

[github]
token = {{ $myGithubToken | quote }}

[scriptEnv]
MISE_GITHUB_TOKEN = {{ $myGithubToken | quote }}
{{- if $isRiotMachine }}
MISE_GITHUB_ENTERPRISE_TOKEN = {{ $riotGithubToken | quote }}
{{- end }}
