[data]
name = "Derek M Frank"
{{ if eq .chezmoi.username "dmf" -}}{{/* Mine */ -}}

email = "derek@frank.sh"
isMyMachine = true
isWorkMachine = false
isRiotMachine = false

{{ else if eq .chezmoi.username "dfrank" -}}{{/* Work: Riot Games */ -}}

email = "dfrank@riotgames.com"
isMyMachine = false
isWorkMachine = true
isRiotMachine = true

{{ else -}}{{/* Work */ -}}

email = "derek@frank.sh"
isMyMachine = false
isWorkMachine = true
isRiotMachine = false

{{ end -}}

[cd]
args = [
    # "--rc=~/.config/xonsh/rc.xsh",
    # "--rc=~/.config/xonsh/rc.d/mise.xsh",
    # "-DXONSH_DEBUG=1",
    # "-DXONSH_SHOW_TRACEBACK=1",
    # "-DXONSH_TRACE_SUBPROC=2",
]

[diff]
exclude = ["scripts"]

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/.install-1password.sh"

[onepassword]
mode = "service"
