[data]
name = "Derek M Frank"

isBsd = {{ eq .chezmoi.os "freebsd" "openbsd" }}
isDarwin = {{ eq .chezmoi.os "darwin" }}
isLinux = {{ eq .chezmoi.os "linux" }}
isMac = {{ eq .chezmoi.os "darwin" }}
isUnixLike = {{ eq .chezmoi.os "darwin" "freebsd" "linux" "openbsd" "unix" }}
isWindows = {{ eq .chezmoi.os "windows" }}

{{ if eq .chezmoi.username "dmf" -}}{{/* Mine */ -}}

email = "derek@frank.sh"
isMyMachine = true
isWorkMachine = false
isRiotMachine = false

{{ else if eq .chezmoi.username "dfrank" -}}{{/* Work: Riot Games */ -}}

email = "dfrank@riotgames.com"
isMyMachine = false
isWorkMachine = true
isRiotMachine = true

{{ else -}}{{/* Work */ -}}

email = "derek@frank.sh"
isMyMachine = false
isWorkMachine = true
isRiotMachine = false

{{ end -}}

{{- if not (env "OP_SERVICE_ACCOUNT_TOKEN") }}
opServiceAccountToken = {{ promptString "1Password service account token" | quote }}
{{ end -}}

[cd]
args = [
    # "--rc=~/.config/xonsh/rc.xsh",
    # "--rc=~/.config/xonsh/rc.d/mise.xsh",
    # "-DXONSH_DEBUG=1",
    # "-DXONSH_SHOW_TRACEBACK=1",
    # "-DXONSH_TRACE_SUBPROC=2",
]

[diff]
exclude = ["scripts"]

[hooks.read-source-state.pre]
{{- if eq .chezmoi.os "windows" }}
command = "powershell"
args = ["-NoProfile", ".local/share/chezmoi/.install-1password.ps1"]
{{- else }}
command = ".local/share/chezmoi/.install-1password.sh"
{{- end }}

[onepassword]
mode = "service"
