# https://mise.jdx.dev/lang/python.html#default-python-packages
bandit
bottle
cachetools
click
coconut
doit
fastapi
httpx
ipython
mypy
neovim-remote
pdbpp
pinboard
pydantic
pydantic-settings
pynvim
pytest
requests
tenacity
xontrib-1password
xontrib-dracula
xontrib-homebrew
xontrib-sh
xontrib-term-integrations # https://github.com/jnoortheen/xontrib-term-integrations
xonsh[full]

{{ if .isRiotMachine -}}
datadog
{{- end }}
