{{- if .is_riot_machine -}}
[Connection]
apikey = {{ onepasswordRead "op://Riot/Datadog Access Keys - CLI/API Key/api key" }}
appkey = {{ onepasswordRead "op://Riot/Datadog Access Keys - CLI/Application Key/app key" }}
api_host = https://api.datadoghq.com
{{- end -}}
