#!/usr/bin/env bash
set -euo pipefail
# https://brew.sh/

if [ "$(uname -s)" != Darwin ]; then
  echo "Not Darwin; Skipping Homebrew install..."
  exit 0
fi

if ! command -v brew > /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

configDir="$HOME/.config/homebrew"
brewFile="${configDir}/Brewfile"
sourceDir="{{ .chezmoi.sourceDir }}"
histDir="${sourceDir}/history"
histFile="${histDir}/Brewfile.$(hostname)"
export GIT_DIR="${sourceDir}/.git"
export GIT_WORK_TREE="${sourceDir}"
export HOMEBREW_BUNDLE_FILE="${brewFile}"

mkdir -p "${histDir}"
! rm "${histFile}"

# Brewfile SHA256: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}
brew bundle dump --describe --file="${histFile}"
git add "${histDir}"
git commit --allow-empty --message "chore(hist): Save Brewfile dump before install on $(hostname)" -- "${histDir}"

! brew bundle install --cleanup --file="${brewFile}" --upgrade

! rm "${histFile}"
brew bundle dump --describe --file="${histFile}"
git add "${histDir}"
git commit --allow-empty --message "chore(hist): Save Brewfile dump after install on $(hostname)" -- "${histDir}"

git log --grep="$(hostname)" --patch HEAD~1..HEAD
