#!/usr/bin/env sh

if [ "$(uname -s)" != Darwin ]; then
  echo "Not Darwin; Skipping Homebrew install..."
  exit 0
fi

if ! command -v brew >/dev/null; then
  # https://brew.sh/
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Brewfile SHA256: {{ include "Brewfile" | sha256sum }}
brew bundle install --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
