#!/usr/bin/env bash
set -euo pipefail
# https://brew.sh/

if [ "$(uname -s)" != Darwin ]; then
  echo "Not Darwin; Skipping Homebrew install..."
  exit 0
fi

if ! command -v brew > /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

userName="$(whoami)"
hostName="$(hostname)"
bakSuffix="${userName}.${hostName}"
configDir="$HOME/.config/homebrew"
brewFile="${configDir}/Brewfile"
sourceDir="{{ .chezmoi.sourceDir }}"
bakDir="${sourceDir}/backups"
bakFile="${bakDir}/Brewfile.${bakSuffix}"
export GIT_DIR="${sourceDir}/.git"
export GIT_WORK_TREE="${sourceDir}"
export HOMEBREW_BUNDLE_FILE="${brewFile}"

backup () {
  local clarifier="${1:?required}"

  ! rm "${bakFile}"
  brew bundle dump --describe --file="${bakFile}"
  git add "${bakDir}"
  if [ -n "$(git status --porcelain -- "${bakDir}")" ]; then
    git commit --message "chore(backups): Dump Brewfile ${clarifier} install for ${userName} on ${hostName}" -- "${bakDir}"
  fi
}

mkdir -p "${bakDir}"

# Brewfile SHA256: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}
backup before
! brew bundle install --cleanup --file="${brewFile}" --upgrade
backup after

git log --all-match --grep="${userName}" --grep="${hostName}" --patch HEAD~1..HEAD
