#!/usr/bin/env sh
# https://brew.sh/

if [ "$(uname -s)" != Darwin ]; then
  echo "Not Darwin; Skipping Homebrew install..."
  exit 0
fi

if ! command -v brew > /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

runId="$(date +%Y-%m-%dT%H:%M:%S%z).$(hostname)"
configDir="$HOME/.config/homebrew"
brewFile="${configDir}/Brewfile"
dumpDir="${configDir}/dump"
preInstallDumpFile="${dumpDir}/Brewfile.${runId}.preinstall"
postInstallDumpFile="${dumpDir}/Brewfile.${runId}.postinstall"
dumpDiffFile="${dumpDir}/Brewfile.${runId}.diff"
export HOMEBREW_BUNDLE_FILE="${brewFile}"

mkdir -p "${dumpDir}"

# Brewfile SHA256: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}
brew bundle dump --describe --file="${preInstallDumpFile}"
brew bundle install --cleanup --upgrade --file="${brewFile}"
brew bundle dump --describe --file="${postInstallDumpFile}"
diff -U0 "${preInstallDumpFile}" "${postInstallDumpFile}" > "${dumpDiffFile}"
if [ -n "$(cat "${dumpDiffFile}")" ]; then
  echo "Brew bundle diff before and after install, upgrade, and cleanup:"
  cat "${dumpDiffFile}"
else
  echo "No changes to Brew bundle; cleaning up dump files..."
  rm "${preInstallDumpFile}" "${postInstallDumpFile}" "${dumpDiffFile}"
fi
