#!/usr/bin/env bash
set -euo pipefail

if [[ "$0" != *"${ONLY_SCRIPTS}"* ]]; then
  echo >&2 "INFO: Only running scripts with '${ONLY_SCRIPTS}'; Skipping $0"
  exit 0
else
  echo >&2 "INFO: Starting $0"
fi

if ! command -v xonsh > /dev/null; then
  echo >&2 "WARNING: Could not find xonsh for xpip"
  exit 0
fi

userName="$(whoami)"
hostName="$(hostname)"
bakSuffix="${userName}.${hostName}"
sourceDir="{{ .chezmoi.sourceDir }}"
bakDir="${sourceDir}/backups"
bakFile="${bakDir}/xpip-freeze.${bakSuffix}"
reqFile="${HOME}/.default-python-packages"
export GIT_DIR="${sourceDir}/.git"
export GIT_WORK_TREE="${sourceDir}"

backup () {
  local clarifier="${1:?required}"
  local action="${2:?required}"

  xonsh -c "xpip freeze --all > '${bakFile}'"
  git add "${bakFile}"
  if [ -n "$(git status --porcelain -- "${bakDir}")" ]; then
    git commit --message "chore(backups): Freeze xpip packages ${clarifier} ${action} for ${userName} on ${hostName}" -- "${bakDir}"
  fi
}

mkdir -p "${bakDir}"

backup before install
xonsh -c "xpip install --no-input --requirement=${reqFile} --upgrade"
backup after install

git log --all-match --grep="xpip" --grep="${userName}" --grep="${hostName}" --patch HEAD~1..HEAD

echo >&2 "INFO: Ending $0"
