{{ if .isMyMachine -}}

model_reasoning_effort = "high"
personality = "pragmatic"
cli_auth_credentials_store = "file" # ~/.codex/auth.json
mcp_oauth_credentials_store = "file" # ~/.codex/.credentials.json

{{ else if .isRiotMachine -}}

# https://www.notion.so/riotgames/Codex-CLI-2a77f9530fb28064ad81e4d1e6b19ea9?v=1eb7f9530fb2808cb97e000cd41c76b4&source=copy_link#2a77f9530fb28088967dcee527e752f6

model_provider = "truefoundry" # must be first line in doc
model = "gpt-5.4" # "gpt-5.3-codex"
model_reasoning_effort = "xhigh"
personality = "pragmatic"
notify = [
  "{{ .chezmoi.homeDir }}/.codex/plugins/cache/openai-bundled/computer-use/1.0.755/Codex Computer Use.app/Contents/SharedSupport/SkyComputerUseClient.app/Contents/MacOS/SkyComputerUseClient",
  "turn-ended",
]
cli_auth_credentials_store = "file" # ~/.codex/auth.json
mcp_oauth_credentials_store = "file" # ~/.codex/.credentials.json

{{ end -}}

[marketplaces.openai-bundled]
last_updated = "2026-04-23T19:25:37Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.codex/.tmp/bundled-marketplaces/openai-bundled"

[marketplaces.openai-primary-runtime]
last_updated = "2026-04-23T19:25:37Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.cache/codex-runtimes/codex-primary-runtime/plugins/openai-primary-runtime"

{{- $mcpServersIn := .my.mcpServers -}}
{{- if .isRiotMachine -}}
  {{- $mcpServersIn = mergeOverwrite $mcpServersIn .riot.mcpServers -}}
{{- end -}}
{{- range $mcpName, $mcp := $mcpServersIn }}
{{- if hasKey $mcp "serverUrl" }}

[mcp_servers.{{ $mcpName }}] {{ $mcp.docUrl  | comment "# " }}
url = {{ $mcp.serverUrl | quote }}
{{- if hasKey $mcp "auth" -}}
  {{- if eq $mcp.auth.type "bearer" }}
headers = { Authorization = {{ printf "Bearer %s" (onepasswordRead $mcp.auth.opPath) | quote }} }
  {{- end -}}
{{- end }}

{{- end }}
{{- end }}

{{ if .isRiotMachine -}}

[model_providers.truefoundry]
name = "TrueFoundry"
base_url = "https://truefoundry.riotgames.io/api/llm"
env_key = "OPENAI_API_KEY"
wire_api = "responses"
supports_websockets = false

{{ end -}}

[notice.model_migrations]
"gpt-5.3-codex" = "gpt-5.4"

[plugins."browser-use@openai-bundled"]
enabled = true

[plugins."computer-use@openai-bundled"]
enabled = true

[plugins."documents@openai-primary-runtime"]
enabled = true

[plugins."presentations@openai-primary-runtime"]
enabled = true

[plugins."spreadsheets@openai-primary-runtime"]
enabled = true

{{- $projectsIn := .my.projects -}}
{{- if .isRiotMachine -}}
  {{- $projectsIn = concat $projectsIn .riot.projects -}}
{{- end -}}
{{- range $index, $project := $projectsIn -}}
{{- $only_on := dig "only_on" (list) $project -}}
{{- if or (empty $only_on) (and (has "wsl" $only_on) $.isWSL) (and (has "linux" $only_on) $.isLinux) (and (has "darwin" $only_on) $.isDarwin) (and (has "windows" $only_on) $.isWindows) }}

{{ $projectKey := (dig "isHomeRelative" false $project | ternary (joinPath $.chezmoi.homeDir $project.path) $project.path) -}}
[projects.{{ $projectKey | quote }}]
trust_level = "trusted"
{{- end }}
{{- end }}

[tui]
status_line = [
  "model-with-reasoning",
  "current-dir",
  "git-branch",
  "run-state",
  "context-used",
  "context-remaining",
  "context-window-size",
  "used-tokens",
  "total-input-tokens",
  "total-output-tokens",
  "five-hour-limit",
  "weekly-limit",
  "session-id",
  "thread-title",
  "task-progress",
  "fast-mode",
]

[tui.model_availability_nux]
"gpt-5.5" = 4

[windows]
sandbox = "elevated"
