{{ if .isMyMachine -}}

model_reasoning_effort = "high"
personality = "pragmatic"
cli_auth_credentials_store = "file" # ~/.codex/auth.json
mcp_oauth_credentials_store = "file" # ~/.codex/.credentials.json

{{ else if .isRiotMachine -}}

# https://www.notion.so/riotgames/Codex-CLI-2a77f9530fb28064ad81e4d1e6b19ea9?v=1eb7f9530fb2808cb97e000cd41c76b4&source=copy_link#2a77f9530fb28088967dcee527e752f6
model_provider = "truefoundry" # must be first line in doc
model = "gpt-5.4" # "gpt-5.3-codex"
model_reasoning_effort = "xhigh"
personality = "pragmatic"
notify = ["{{ .chezmoi.homeDir }}/.codex/plugins/cache/openai-bundled/computer-use/1.0.755/Codex Computer Use.app/Contents/SharedSupport/SkyComputerUseClient.app/Contents/MacOS/SkyComputerUseClient", "turn-ended"]
cli_auth_credentials_store = "file" # ~/.codex/auth.json
mcp_oauth_credentials_store = "file" # ~/.codex/.credentials.json

[model_providers.truefoundry]
name = "TrueFoundry"
base_url = "https://truefoundry.riotgames.io/api/llm"
env_key = "OPENAI_API_KEY"
wire_api = "responses"
supports_websockets = false

[marketplaces.openai-bundled]
last_updated = "2026-04-23T19:25:37Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.codex/.tmp/bundled-marketplaces/openai-bundled"

[marketplaces.openai-primary-runtime]
last_updated = "2026-04-23T19:25:37Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.cache/codex-runtimes/codex-primary-runtime/plugins/openai-primary-runtime"

[mcp_servers.atlassian-rovo]
url = "https://mcp.atlassian.com/v1/mcp"

[plugins."browser-use@openai-bundled"]
enabled = true

[plugins."computer-use@openai-bundled"]
enabled = true

[plugins."documents@openai-primary-runtime"]
enabled = true

[plugins."presentations@openai-primary-runtime"]
enabled = true

[plugins."spreadsheets@openai-primary-runtime"]
enabled = true

[projects."{{ .chezmoi.homeDir }}/Documents/Codex/2026-04-21-please-help-me-bootstrap-atlassian-rovo"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Documents/Codex/2026-04-21-what-jira-tasks-are-assigned-to"]
trust_level = "trusted"

{{ if .isWindows -}}

[projects."{{ .chezmoi.homeDir }}/Perforce/flyingfox/dev-main"]
trust_level = "trusted"

{{ else -}}

[projects.'t:\p4\flyingfox\dev-main']
trust_level = "trusted"

{{- end }}

{{- end }}

[projects."{{ .chezmoi.homeDir }}/.local/share/chezmoi"]
trust_level = "trusted"

[notice.model_migrations]
"gpt-5.3-codex" = "gpt-5.4"

[tui.model_availability_nux]
"gpt-5.5" = 3

[windows]
sandbox = "elevated"
