Host github.com
    StrictHostKeyChecking accept-new
{{- if .is_unix_like }}
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
{{- end }}

{{- if .is_riot_machine }}
Host gh.riotgames.com
    StrictHostKeyChecking accept-new
{{- if .is_unix_like }}
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
{{- end }}
{{- end }}

Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
