;; This global config file applies a configuration to all graphs. Any config
;; keys from a graph's logseq/config.edn can used here. A graph's
;; logseq/config.edn overrides config keys in this file except for maps which
;; are merged. As an example of merging, the following global and local configs:
;;   {:shortcuts {:ui/toggle-theme "t z"}}
;;   {:shortcuts {:ui/toggle-brackets "t b"}}
;;
;;  would result in the final config:
;;   {:shortcuts {:ui/toggle-theme "t z"
;;                :ui/toggle-brackets "t b"}}

{:meta/version 1

 ;; Specify the journal filename format using a valid date format string.
 ;; !Warning:
 ;;   This configuration is not retroactive and affects only new journals.
 ;;   To show old journal files in the app, manually rename the files in the
 ;;   journal directory to match the new format.
 ;; Default value: "yyyy_MM_dd"
 :journal/file-name-format "yyyy-MM-dd"

 ;; Specify the first day of the week.
 ;; Available options:
 ;;  - integer from 0 to 6 (Monday to Sunday)
 ;; Default value: 6 (Sunday)
 :start-of-week 0

 ;; Fix VIM shortcuts by disabling conflict with `n`:
 :shortcuts {:editor/new-whiteboard []

 ;; Add shortcut for opening a graph:
 :graph/open ["alt+shift+g" "g o"]}}
