# https://mise.jdx.dev/configuration.html
# https://mise.jdx.dev/mise-cookbook/python.html#a-python-project-with-virtualenv

min_version = "2024.9.5"


[settings]
# https://mise.jdx.dev/configuration/settings.html

experimental = true

[tools]
# https://mise.jdx.dev/dev-tools/

jq = "latest"
node = 'lts'
ollama = '0'
poetry = "latest"
python = "3.13"
ruff = "latest"
uv = "latest"

{{ if not .isWindows -}}
pre-commit = "latest"
tmux = "latest"
{{- end }}


[plugins]
# https://mise.jdx.dev/plugin-usage.html#configuration

[alias]
# https://mise.jdx.dev/dev-tools/aliases.html
