[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else if and (eq .chezmoi.os "linux") (.is_wsl | default false) }}
    helper = store
{{- else if eq .chezmoi.os "linux" }}
    helper = git-credential-libsecret
{{- else }}
    helper = manager
{{- end }}
