{{- if eq .chezmoi.username "dmf" -}}
{{ onepasswordRead "op://Private/1Password Service Account - CLI - Personal/credential" }}
{{- else -}}
{{ onepasswordRead "op://Private/1Password Service Account - CLI - Work/credential" }}
{{- end -}}
