{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "env": {
    {{ if .isRiotMachine -}}
    "ANTHROPIC_AUTH_TOKEN": {{ onepasswordRead "op://Riot/TrueFoundry - Personal Access Token/credential" | quote -}},
    "ANTHROPIC_BASE_URL": "https://truefoundry.riotgames.io/api/llm",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "claude-vertex/anthropic-claude-haiku-4-5-20251001",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "claude-vertex/anthropic-claude-opus-4-6",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "claude-vertex/anthropic-claude-sonnet-4-6-default",
    "CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS": "1",
    "CLAUDE_CODE_USE_POWERSHELL_TOOL": "1"
    {{- end }}
  },
  "permissions": {
    "allow": [
      "Bash(brew *)",
      "Bash(chezmoi *)",
      "Bash(git *)",
      "Bash(git push *)",
      "Bash(git push --force-with-lease *)",
      "Bash(grep *)",
      "Bash(kill *)",
      "Bash(mise *)",
      "Bash(nvim *)",
      "Bash(pgrep *)",
      "Bash(pip *)",
      "Bash(pip3 *)",
      "Bash(pkill *)",
      "Bash(rg *)",
      "Bash(tmux *)",
      "Bash(xargs *)",
      "Bash(xonsh *)"
    ],
    "ask": [
      "Bash(brew install *)",
      "Bash(git commit *)"
    ],
    "deny": [
      "Bash(chezmoi destroy *)",
      "Bash(chezmoi purge *)",
      "Bash(git push --force *)"
    ]
  },
  "statusLine": {
    "command": "python3 ~/.claude/statusline.py",
    "type": "command"
  },
  "theme": "dark-daltonized"
}
