{{- if not (env "OP_SERVICE_ACCOUNT_TOKEN") -}}
  {{ .op_service_account_token }}
{{- else if .is_my_machine -}}
  {{ onepasswordRead "op://CLI/1Password Service Account - CLI - Personal/credential" }}
{{- else if .is_work_machine -}}
  {{ onepasswordRead "op://CLI/1Password Service Account - CLI - Work/credential" }}
{{- end -}}
