{{- if not (env "OP_SERVICE_ACCOUNT_TOKEN") -}}
  {{ .opServiceAccountToken }}
{{- else if .isMyMachine -}}
  {{ onepasswordRead "op://CLI/1Password Service Account - CLI - Personal/credential" }}
{{- else if .isWorkMachine -}}
  {{ onepasswordRead "op://CLI/1Password Service Account - CLI - Work/credential" }}
{{- end -}}
