cask_args appdir: "/Applications"

# Taps (auto-collected from packages with tap field)
{{- $taps := dict }}
{{- range $name, $pkg := .my.packages }}
  {{- if hasKey $pkg "tap" }}{{ $_ := set $taps $pkg.tap true }}{{ end }}
{{- end }}
{{- if .isRiotMachine }}
  {{- range $name, $pkg := .riot.packages }}
    {{- if hasKey $pkg "tap" }}{{ $_ := set $taps $pkg.tap true }}{{ end }}
  {{- end }}
{{- end }}
tap "homebrew/bundle"
tap "homebrew/services"
{{- range $tap, $_ := $taps }}
tap {{ $tap | quote }}
{{- end }}

# Formulas (from .chezmoidata/packages.yaml)
{{- range $name, $pkg := .my.packages }}
  {{- if hasKey $pkg "brew" }}
brew {{ $pkg.brew | quote }}{{ with (index $pkg "brew_options") }}, {{ . }}{{ end }}
  {{- end }}
{{- end }}

# Casks (from .chezmoidata/packages.yaml)
{{- range $name, $pkg := .my.packages }}
  {{- if hasKey $pkg "cask" }}
cask {{ $pkg.cask | quote }}
  {{- end }}
{{- end }}

{{- if .isMyMachine }}

cask "protonvpn"

{{- else if .isRiotMachine }}

# Work - Riot Games
{{- range $name, $pkg := .riot.packages }}
  {{- if hasKey $pkg "brew" }}
brew {{ $pkg.brew | quote }}{{ with (index $pkg "brew_options") }}, {{ . }}{{ end }}
  {{- end }}
{{- end }}
{{- range $name, $pkg := .riot.packages }}
  {{- if hasKey $pkg "cask" }}
cask {{ $pkg.cask | quote }}
  {{- end }}
{{- end }}

{{- end }}
