{
  "general": {
    "preferredEditor": "neovim",
    "vimMode": true
  },
  "mcpServers": {
    {{- if .isRiotMachine }}
    "datadog": { {{- /* http://notion.so/riotgames/Datadog-MCP-2f17f9530fb2801aa246d6772418c003?v=1eb7f9530fb2808cb97e000cd41c76b4 */}}
      "httpUrl": "https://mcp.datadoghq.com/api/unstable/mcp-server/mcp"
    },
    "jira": { {{- /* https://www.notion.so/riotgames/Atlassian-Rovo-Jira-MCP-2a37f9530fb2808a8bbcd4feef6824a7?v=1eb7f9530fb2808cb97e000cd41c76b4 */}}
      "httpUrl": "https://mcp.atlassian.com/v1/mcp"
    },
    "notionMCP": { {{- /* https://www.notion.so/riotgames/Notion-MCP-28d7f9530fb280a9bb76efcffb92d161?v=1eb7f9530fb2808cb97e000cd41c76b4 */}}
      "command": "npx",
      "args": ["-y", "mcp-remote", "https://mcp.notion.com/mcp"]
    },
    "riot-lore": { {{- /* https://gh.riotgames.com/clde/glue-lore */}}
      "httpUrl": "https://riot-lore-beta.rcluster.io/lore/v1/mcp"
    }
    {{- end }}
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    }
  }
}
