{ {{- /* https://geminicli.com/docs/reference/configuration/#available-settings-in-settingsjson */}}
  "general": {
    "defaultApprovalMode": "default",
    "devtools": false,
    "enableNotifications": true,
    "checkpointing": {
      "enabled": true
    },
    "plan": {
      "enabled": true,
      "modelRouting": true
    },
    "preferredEditor": "neovim",
    "vimMode": true
  },
  "mcpServers": {
    {{- $mcpServersIn := .my.mcpServers -}}
    {{- if .is_riot_machine -}}
      {{- $mcpServersIn = mergeOverwrite $mcpServersIn .riot.mcpServers -}}
    {{- end -}}

    {{- $isFirstMcp := true -}}
    {{- range $mcpName, $mcp := $mcpServersIn }}
    {{- if hasKey $mcp "serverUrl" }}
    {{- if not $isFirstMcp }},{{- else }}{{- $isFirstMcp = false -}}{{- end }}
    {{ $mcpName | quote -}}: {
      "httpUrl": {{ $mcp.serverUrl | quote }}
      {{- if hasKey $mcp "auth" -}}
        {{- if eq $mcp.auth.type "bearer" }},
      "headers": {
        "Authorization": {{ printf "Bearer %s" (onepasswordRead $mcp.auth.opPath) | quote }}
      }
        {{- end -}}
      {{- end }}
    }
    {{- end }}
    {{- end }}
  },
  "model": {
    "compressionThreshold": "0.5"
  },
  "security": {
    "auth": {
      {{ if .is_my_machine -}}
      "selectedType": "gemini-api-key"
      {{ else if .is_riot_machine -}}
      "selectedType": "oauth-personal"
      {{- end }}
    }
  },
  "ui": {
    "footer": {
      "hideContextPercentage": false,
      "hideModelInfo": false,
      "hideSandboxStatus": false,
      "items": [ "workspace"
               , "git-branch"
               , "sandbox"
               , "model-name"
               , "context-used"
               , "quota"
               , "memory-usage"
               , "code-changes"
               , "token-count"
               ],
      "showLabels": true,
      "showMemoryUsage": true
    }
  }
}
