# https://mise.jdx.dev/dev-tools/github-tokens.html
[tokens."github.com"]
token = {{ .github_token | quote }}
{{- if .is_riot_machine }}

[tokens."gh.riotgames.com"]
token = {{ .riot_github_token | quote }}
{{- end }}
