dot {{ .chezmoi.homeDir }}/.dotfiles
dropbox {{ .chezmoi.homeDir }}/Dropbox
notes {{ .chezmoi.homeDir }}/Dropbox/notes
code {{ .chezmoi.homeDir }}/Code
www {{ .chezmoi.homeDir }}/Code/defrank.github.io
playground {{ .chezmoi.homeDir }}/Code/playground
pyground {{ .chezmoi.homeDir }}/Code/playground/python
goground {{ .chezmoi.homeDir }}/Code/playground/go

{{- if eq .chezmoi.username "dfrank" }}
reliability {{ .chezmoi.homeDir }}/Code/reliability-infrastructure
sre {{ .chezmoi.homeDir }}/Code/sre-monorepo
p4 /Users/shared/p4
main /Users/shared/p4/depot/LoL/__MAIN__/
lcu /Users/shared/p4/depot/LoL/__MAIN__/DevRoot/Client/fe
lol {{ .chezmoi.homeDir }}/Code/keystone-products.league-of-legends
lime {{ .chezmoi.homeDir }}/Code/lime-monorepo
lotapi {{ .chezmoi.homeDir }}/Code/lot-api-service
mt {{ .chezmoi.homeDir }}/Code/maintenance-tool
rs-admin {{ .chezmoi.homeDir }}/Code/riotstatus-admin
rs-page {{ .chezmoi.homeDir }}/Code/riotstatus-page
{{- end }}
