chez {{ .chezmoi.sourceDir }}
dot {{ .chezmoi.homeDir }}/.dotfiles
dropbox {{ .chezmoi.homeDir }}/Dropbox
notes {{ .chezmoi.homeDir }}/Dropbox/notes
code {{ .chezmoi.homeDir }}/Code
www {{ .chezmoi.homeDir }}/Code/defrank.github.io
playground {{ .chezmoi.homeDir }}/Code/playground
pyground {{ .chezmoi.homeDir }}/Code/playground/python
goground {{ .chezmoi.homeDir }}/Code/playground/go

{{- if eq .chezmoi.username "dfrank" }}
reliability {{ .chezmoi.homeDir }}/Code/reliability-infrastructure
sre {{ .chezmoi.homeDir }}/Code/sre-monorepo
p4 /Users/shared/p4
main /Users/shared/p4/depot/LoL/__MAIN__/
devroot /Users/shared/p4/depot/LoL/__MAIN__/DevRoot
lcu /Users/shared/p4/depot/LoL/__MAIN__/DevRoot/Client
lol {{ .chezmoi.homeDir }}/Code/keystone-products.league-of-legends
lime {{ .chezmoi.homeDir }}/Code/lime-monorepo
lotapi {{ .chezmoi.homeDir }}/Code/lot-api-service
mt {{ .chezmoi.homeDir }}/Code/maintenance-tool
rs-admin {{ .chezmoi.homeDir }}/Code/riotstatus-admin
rs-page {{ .chezmoi.homeDir }}/Code/riotstatus-page

{{- else }}
monorepo {{ .chezmoi.homeDir }}/Code/monorepo
fsharp {{ .chezmoi.homeDir }}/Code/monorepo/fsharp
fsharp-api {{ .chezmoi.homeDir }}/Code/monorepo/fsharp/api
automate-api {{ .chezmoi.homeDir }}/Code/monorepo/fsharp/api/automate
terraform {{ .chezmoi.homeDir }}/Code/monorepo/terraform
infrastructure {{ .chezmoi.homeDir }}/Code/monorepo/terraform/infrastructure
frankenstructure {{ .chezmoi.homeDir }}/Code/monorepo/terraform/infrastructure/frankenstructure
gateway {{ .chezmoi.homeDir }}/Code/monorepo/terraform/infrastructure/gateway
monitoring {{ .chezmoi.homeDir }}/Code/monorepo/terraform/infrastructure/monitoring
observability {{ .chezmoi.homeDir }}/Code/monorepo/terraform/infrastructure/observability
modules {{ .chezmoi.homeDir }}/Code/monorepo/terraform/modules
route {{ .chezmoi.homeDir }}/Code/monorepo/terraform/modules/gateway-route
postgres {{ .chezmoi.homeDir }}/Code/monorepo/terraform/modules/vultr-managed-postgres
probes {{ .chezmoi.homeDir }}/Code/monorepo/terraform/modules/blackbox-probe
applications {{ .chezmoi.homeDir }}/Code/monorepo/terraform/applications
httpbin {{ .chezmoi.homeDir }}/Code/monorepo/terraform/applications/httpbin
miniflux {{ .chezmoi.homeDir }}/Code/monorepo/terraform/applications/miniflux
node-red {{ .chezmoi.homeDir }}/Code/monorepo/terraform/applications/node-red
ollama {{ .chezmoi.homeDir }}/Code/monorepo/terraform/applications/ollama

{{- end }}
